#tabzilla {
  position: relative;
  background: #fff;
  width: 100%;
  height: 44px;
}
#tabzilla a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../media/img/tabzilla-static.png');
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  position: absolute;
  right: 40px;
  top: 7px;
  width: 105px;
  z-index: 2;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #tabzilla a {
    background-image: url('../media/img/tabzilla-static-high-res.png');
    -webkit-background-size: 105px 30px;
    background-size: 105px 30px;
  }
}
html[dir='rtl'] #tabzilla a {
  left: 40px;
  right: auto;
}
