#tabzilla {
  float: right;
  position: relative;
}
#tabzilla a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../media/img/tabzilla-static.png');
  background-repeat: no-repeat;
  display: block;
  height: 36px;
  margin: 0 20px;
  position: relative;
  width: 126px;
  z-index: 2;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #tabzilla a {
    background-image: url('../media/img/tabzilla-static-high-res.png');
    -webkit-background-size: 126px 36px;
    background-size: 126px 36px;
  }
}
#tabzilla::before {
  background-color: transparent;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
html[dir='rtl'] #tabzilla {
  float: left;
}
