#tabzilla {
  float: right;
  position: relative; }
  #tabzilla a {
    background-image: url("../media/img/tabzilla-static.png");
    background-repeat: no-repeat;
    display: block;
    height: 37px;
    overflow: hidden;
    position: relative;
    text-indent: 120%;
    white-space: nowrap;
    width: 147px;
    z-index: 2; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      #tabzilla a {
        background-image: url("../media/img/tabzilla-static-high-res.png");
        -webkit-background-size: 147px 37px;
        background-size: 147px 37px; } }
  #tabzilla:before {
    background-color: transparent;
    content: '';
    display: block;
    height: 26px;
    left: 28px;
    position: absolute;
    top: 0;
    width: 88px;
    z-index: 1; }
  html[dir="rtl"] #tabzilla {
    float: left; }
