// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "lib/lib.less";

@icon-height: 30px;
@icon-top-position: 7px;
@gutter-position: 40px;

#tabzilla {
    position: relative;
    background: #fff;
    width: 100%;
    height: @icon-height + (@icon-top-position * 2);

    a {
        .image-replaced();
        .at2x('../media/img/tabzilla-static.png', 105px, @icon-height);
        background-repeat: no-repeat;
        display: block;
        height: @icon-height;
        position: absolute;
        right: @gutter-position;
        top: @icon-top-position;
        width: 105px;
        z-index: 2;
    }
}

html[dir='rtl'] #tabzilla a {
    left: @gutter-position;
    right: auto;
}
